@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@font-face {
  font-family: clear;
  src: url(../../assets/font/Chau_Philomene_One/ChauPhilomeneOne-Italic.ttf);
}

@font-face {
  font-family: sf;
  src: url(../../assets/font/SFUIText/);
}

@font-face {
  font-family: lemonR;
  src: url(../../assets/font/LEMONMILK-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  color: white;
  background: url(../../assets/img/bckg1.png) center/cover;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: #250a8a;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #210464;
}
/* --------------------------------------------- Navbar ----------------------------------- */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.336);
  font-family: lemonR;
}

/* hidden */

.hidden-menu{
  display: none;
}

#hidden-title{
  display: none;
  margin-left: 20px;
  font-size: 1.5rem;
  color: white;
  font-family: "Cherry Bomb One";
}

/* Div titre,menu  search-bar,menu */

.navbar .left{
  display: flex;
  align-items: center;
}

.navbar .right{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* title */

#title {
  font-size: 2rem;
  color: white;
  font-family: 'Luckiest Guy', cursive;
  font-weight: 100;
}

#title:hover {
  filter: brightness(50%);
  transition: 300ms;
}

/* social-panel */

.social-panel ul {
  display: flex;
  align-items: center;
}
.social-panel li {
  margin-left: 20px;
}

.social-panel li:hover {
  filter: brightness(50%);
  transition: 300ms;
}

/* Search-bar */
.search-bar{
  display: flex;
  justify-content: end;
}
.search-bar ul {
  width: 20em;
  height: 2em;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #260a8a00;
  border: solid rgba(0, 0, 0, 0.349) 1px;
  border-radius: 1.5em;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.315);
}
.search-bar ul li:first-child {
  margin-right: 20px;
}

#button {
  background-color: rgb(240, 248, 255,0);
  border: none;
  font-family: clear;
  font-size: large;
  font-weight: bolder;
  color: white;
  border-right: solid rgba(0, 0, 0, 0.349) 1px;
  border-radius: 1.5em;;
  width: 280px;
  height: 40px;
}

/* Menu */

.menu ul {
  font-family: lemonR;
  display: flex;
  margin-left: 40px;
}

.menu ul li {
  display: flex;
  align-items: center;
  height: 50px;
  margin-left: 20px;
}

.menu ul li:hover {
  filter: brightness(50%);
  transition: 300ms;
}

.small-title {
  margin-left: 10px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}
/* ---------------------------------- Section --------------------------------------------------*/

section{
  margin:4em;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.336);
  height: max-content;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 0.5fr 1fr 3fr;
  grid-row-gap: 20px;
  position: relative;
  font-family: lemonR;
}

.medium-title{
  font-size: 1.5rem;
  font-family: clear;
  border-bottom: rgba(255, 255, 255, 0.384) solid 2px;
  padding-bottom: 5px;
}

/* Head-overlay + info */
.head-overlay{
  position: absolute;
  top: 0;
  left: 50px;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: span 2;
}

.head-overlay .overlay{
  background:url(../../assets/anime-img/Jojo\'s\ Bizarre\ Adventure.jpg) center/cover;
  width: 20em;
  height: 25em;
  border: solid rgb(255, 255, 255) 5px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.315);
}

.head-overlay .overlay:hover{
  filter: brightness(80%);
  transition: 500ms;
}

.head-overlay .info li div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0 30px;
  font-size: 0.6rem;
}

.hidden-title-anime{
  font-family: clear;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
  display: none;
  
}
.hidden-title-anime .tag{
  display: flex;
  justify-content: center;
}

/* Anime title */

  .head{
    grid-column-start: 2;
    grid-row-start: 1;
    font-family: clear;
  }

  .head-title{
    font-size: 2.5em;
  }

  #nametag{
    font-size: 0.6rem;
    color: rgb(156, 154, 154);
  }

  .tag{
    display: flex;
    margin-top: 20px;
  }

  .tag li{
    margin-right: 10px;
    
  }

  .tag li:hover{
    transition: 300ms;
    background-color:#784fd8;
  }

  .action{
    border-radius: 10px;
    background-color: #8d67e696;
    padding: 5px;
    width: max-content;
    cursor: pointer;
  }
  .action p{
    width: max-content;
    text-align: center;
  }

/* Synopsis */

  .synopsis{
    grid-column-start: 2;
    grid-row-start: 2;
    font-family: sans-serif;
  }

  .synopsis p{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.719);
    font-weight: 500;
    font-size: 0.95rem;
    line-height: 130%;
    width: 100%;
  }
/* Content anime */

  .content{
  grid-column-start: 2;
  grid-row-start: 3;
  }

  .episode{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-row-gap: 50px;
    margin: 20px 0;
    padding: 20px;
    background-color: rgba(40, 40, 46, 0.3);
  }

  .content .episode:last-child{
    grid-template-rows: 1fr ;

  }

  .episode li{
    background: url(../../assets/anime-img/E-Jojo\'s\ Bizarre\ Adventure.png) center/cover;
    width: 150px;
    height: 100px;
    border: solid rgb(255, 255, 255) 2px;
    font-weight: 800;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
  }

  .content .episode li p{
    margin: auto; /* Important */
    font-family: clear;
    font-size: 1.25rem;
    text-align: center;
    color: white;
  }
  .content .episode li:hover{
    transition: 300ms;
    filter: brightness(80%);
  }
  /* Div pub */
  .pub{
    position: relative;
    top: 20%;
    grid-column-start: 1;
    grid-row-start: 3;
    height: 80%;
    width: 85%;
    text-align:center;
    display: grid;
    grid-template-rows: 1fr 1fr 0.25fr;
  }
/* ---------------------------------- Footer ----------------------------------------------------*/

footer{
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: lemonR;
  border-top: rgba(118, 118, 243, 0.438) solid 3px;
}

/* Division footer-info */
footer .footer-info ul{
  display: flex;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}
footer .footer-info ul li{
  margin-left: 50px;
}

.footer-info ul li h3{
  font-weight: 999em;
  color: rgb(221, 221, 221);
}

.footer-info ul li p{ 
  margin-top: 20px;
  font-family: Arial;
  width: 400px;
  color: rgb(117, 117, 117);
  font-weight: bold;
}
.footer-info ul li:last-child p{
  width: max-content; 
}
.footer-info ul li:last-child p:hover{
  transition: 1s;
  text-decoration: underline;

}
.footer-info .contact{
  color: rgb(117, 117, 117);
}

/* Division bottom-page */
.bottom-page ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.bottom-page ul li .copyright{
  font-family: Arial;
  color: rgb(117, 117, 117);
  font-weight: bolder;
}
/* ------------------------------------------------------------------------------------------- */
@media screen  and (max-width: 1600px){

  /* -------------- Section ------------------------*/
  .content .episode{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-row-gap: 20px;
  }
}


@media screen  and (max-width: 1500px){
  /*  ------------- navbar -------------------------*/
  .menu ul {
    margin-left: 0px;
  }
  
  .menu ul li{
    margin-left: 20px;
  }
  #setting{
    display: none;
  }

  #profil{
    display: none;
  }
  /* -------------- Section ------------------------*/
  section{
    padding: 20px;
  }

  .head-overlay .overlay{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .head-overlay{
    top: 0;
    left:0;
  }

  /*  ------------- footer -------------------------*/

  .footer-info ul li p{ 
    width: 300px;
  }


}
@media screen  and (max-width: 1450px){
  
  /* -------------- Section ------------------------*/
  
  .content .episode{
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    grid-row-gap: 20px;

  }
}

@media screen  and (max-width: 1300px){
   /* ---------------------------- Navbar --------------------- */

  #planning{
    display: none;
  }

  #catalogue{
    display: none;
  }
  /* ---------------------------- Section --------------------- */

  section{
    grid-template-columns: 30% 70%;
    margin: 1em;
    padding: 1em;
  }


  .synopsis p{
    font-size: 0.8rem;
  }

  .head-overlay .overlay{
    width: 18em;
    height: 23em;
  }

}
@media screen and (max-width:1100px) {

/* --------------------- Section ---------------- */
  .head-overlay .overlay{
    width: 15em;
    height: 20em;
  }

  .content .episode{
    grid-template-columns: 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 1fr ;

  }
  
}
@media screen  and (max-width: 1000px){
  /* -------------------------- Nav ------------------ */

  .menu{
    display: none;
  }
  .social-panel{
    display: none;
  }

  #title{
    display: none;
  }

  .hidden-menu{
    display: flex;
    align-items: center;
  }

  .navbar #hidden-title{
    display: flex;
    align-items: center;
  }
  
  .search-bar ul {
    width: 15em;
    height: 1.5em;
  }
  #button{
    width: 10em;
    height: 1.5em;

  }
    /* ---------------- Section ----------------------- */


    /*  ------------- footer -------------------------*/

    footer #title{
      display: none;
    }
  

    footer .footer-info ul{
      display: flex;
      justify-content: center;
    }
    footer .footer-info ul li{
      margin-left: 0px;
    }
    .footer-info ul li:nth-child(2){
      margin: 0 20px;

    }

    .footer-info ul li h3{
      font-size: 0.7rem;
    }

    .footer-info ul li p{ 
      width: 250px;
      font-size: 0.8rem;
  }

    .bottom-page ul{
      display: flex;
      justify-content: center;
    }
    footer #hidden-title{
      display: flex;
      margin-right: 20px;

    }
  
}

@media screen and (max-width:950px) {
  /* ----------------------- Section ------------------------------*/
  section{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: 2em;

  }
  .head-overlay{
      position: static;

  }

  .head-overlay .overlay{
    width: 30em;
    height: 35em;
  }

  .head{
    display: none;
  }

  .hidden-title-anime{
    display:grid;
  }

  .synopsis p{
    width: 716px;
  }
  .content .episode{
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-column-gap: 20px;
    grid-template-rows: 1fr 1fr ;

  }
  .pub{
    height: 20em;
    width: 90%;
  }

}

@media screen and (max-width:800px) {
    /*  ------------- footer -------------------------*/
  
    .footer-info ul li p{   /*  diminution de la taille  des paragraphes info*/
      width: 180px;
    }
  
}
@media screen and (max-width:780px) {
  /* ----------------------- Section ------------------------------*/
  .synopsis p{
    width: 542px;
  }

  .content .episode{
    grid-template-columns: 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 1fr ;
  }

  
}

@media screen and (max-width:650px) {

  /* --------------- Section ------------------------ */
  

  .head-overlay .overlay{
    width: 25em;
    height: 30em;
    border: solid white 5px;
  }

  
}

@media screen and (max-width:600px) {

  /* --------------- Section ------------------------ */
  section{
    padding: 0;
  }


  .synopsis p{
    width: 482px;
  }

  .content .episode{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
  }

  .episode li{
    width: 130px;
    height: 80px;
  }

   /*  ------------- footer -------------------------*/

   footer{ 
    padding: 10px 0;
   }

  .footer-info ul li:nth-child(2){  /*  diminution du margin entre les paragraphes info*/
    margin: 0 10px;
  }

  .footer-info ul li p{   /*  diminution de la taille  des paragraphes info*/
    width: 150px;
  }

  .bottom-page .copyright{
    font-size: 0.8rem;

  }
}

@media screen and (max-width:550px) {
  /* --------------- Section ------------------------  */

  .head-overlay .overlay{
    background:url(../../assets/anime-img/Jojo\'s\ Bizarre\ Adventure.jpg) center/cover;
    width: 20em;
    height: 25em;
  }
  
  .synopsis p{
    width: 338px;
  }

  .content .episode{
    padding: 10px;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
  }

   /*  ------------- footer -------------------------*/
  
   .footer-info ul li p{   /*  diminution de la taille  des paragraphes info*/
    width: 100px;
  }
}
 
